
<div class="pb-12 flex min-h-screen bg-[#161513]">
  <div class="mx-auto">
    <div class="justify-items-center mb-[40px] mt-[98px] overflow-hidden">
      <img src="assets/logo.png" alt="" />
    </div>
    <h1 class="max-w-screen-s text-center text-[55px] font-extrabold text-white">
      Your Ticket to Seamless <br /><span class="text-transparent bg-clip-text bg-gradient-to-tr from-[#EC5E78] to-[#9EA3C4]">
      Stadium Entry!</span>
    </h1>
    <p class="mx-auto mt-[40px] mb-[54px] text-[18px] font-light text-[#C5C5C5] text-center w-3/5">
      MatchFlex is not just about entering a stadium it's about embracing a healthier, more sustainable lifestyle. With every match, you support a greener planet by eliminating paper tickets and using a reusable, high-tech bracelet. Welcome to the future of fan engagement.<br/><br/>
      Our app elevates the fan experience with a smart bracelet that serves as your ticket to exclusive interactive moments. Just scan the watch as the stadium comes to life with personalized entertainment options, keeping you engaged from start to finish.<br/><br/>
      No need for complicated setups just slip on your bracelet, scan it, and enjoy seamless access to a world of fun and surprises, all while staying connected to the action around you. The future of fan engagement is simple, fun, and always at your fingertips!.<br/><br/>
    </p>
    <div class="text-center">
      <a href="/contact"><button class="text-gray-800 inline-block px-[30px] py-[16px] mr-[18px] bg-white rounded-full font-semibold text-[22px]">Contact Us</button></a>
      <a href="/all-groups"><button class="text-white inline-block px-[30px] py-[16px] bg-transparent border-2 rounded-full font-semibold text-[22px]">Buy Now !</button></a>
    </div>
  </div>
</div>
