<header class="absolute mb-16 top-0 left-0 w-full bg-white/20 shadow-none h-18 hidden md:flex z-10 items-center px-6">
  <a href="" class="flex-shrink-0 flex items-center">
    <img class="h-14 w-35" src="/assets/logo.png" alt="img" />
  </a>

  <!-- Centered Navigation -->
  <nav class="flex-1 flex justify-center">
    <ul class="flex items-center space-x-6 text-blue-50 font-semibold text-base lg:text-lg">
      <li *ngFor="let item of navItems" class="p-3 xl:p-6">
        <a [routerLink]="item.link">
          <span>{{ item.label }}</span>
        </a>
      </li>
    </ul>
  </nav>

  <!-- Contact Button (Right) -->
  <div class="flex-shrink-0 flex items-center">
    <a [routerLink]="'/contact'">
     <button class="bg-gray-900/50 hover:bg-gray-700/50 text-white font-bold px-4 xl:px-6 py-2 xl:py-3 rounded">Contact Me</button>
   </a>
  </div>
</header>
